
.left-column, .right-column {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    height: 100%;
    padding: 20px;
    border: 5px;
    border-color: black;
  }

.left-column{
    background-color: antiquewhite;
}

.right-column{
    background-color: orange;
}